<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('./partials/head') %>
        <title>Job Portal</title>
</head>
<body>

    <%- include('./partials/nav') %>
     
    <h1>Welcome to the Job Portal</h1>
     <%- include('./partials/script') %>
</body>
</html>